* {
    margin: 0;
}

body {
    background-image: url(https://santraplus.fr/modeles_graphiques/img/bg_site.jpg);
    background-color: white;
}

.container {
    height: 200vh;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100px repeat(4,auto) 100px ;
    grid-template-rows: repeat(7, auto) ;
    grid-template-areas: 
    ". logo titre titre titre ."
    
    ". reference reference reference reference ."
    
    ". salarie salarie salarie salarie."
    
    ". information information information information ."
    
    ". information information information  information  ."
    
    ". rdv rdv rdv rdv ."
    
    ". cancel cancel cancel cancel ."

    ;
}

.logo {
    grid-area: logo;
    margin-top: 50px;
}

.titre {
    grid-area: titre;
}

.reference {
    grid-area: reference;
}

.salarie {
    grid-area: salarie;
}

.information {
    grid-area: information;
}

.rdv {
    grid-area: rdv;
}

.cancel {
    grid-area: cancel;
}

h3 {
    text-decoration: underline;
}

/* --------------------------------------------

            @@@ HEADER 

---------------------------------------------*/

.titre {
    font-family:Arial,sans-serif ; 
    line-height: 37px;
    height: 130px;
} 

.titre .titre-principale {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

.titre .sous-titre {
    line-height: 32px;
}

.titre h3 {
    font-size: 18px;
    color: red;
}


/* --------------------------------------------

            @@@ Reference 

---------------------------------------------*/

.reference {
    padding: 10px;
    line-height: 38px;
    border: 1px solid black;
    width: auto;
    margin: 10px;
    background-color: rgb(240, 240, 240);
}

label[for="mail-applicant"] {
    padding-left: 50px;
}
label[for="fax-applicant"] {
    padding-left: 50px;
}

/* --------------------------------------------

            @@@ salarié 

---------------------------------------------*/

.salarie {
    padding: 10px;
    line-height: 38px;
    border: 1px solid black;
    width: auto;
    margin: 10px;
    background-color: rgb(240, 240, 240);
}

label[for="birthday"],
label[for="first-name"],
label[for="code-pcs"] {
    padding-left: 300px;
}

/* --------------------------------------------

            @@@ Information

---------------------------------------------*/


.information {
    padding: 10px;
    line-height: 38px;
    border: 1px solid black;
    width: auto;
    margin: 10px;
    background-color: rgb(240, 240, 240);
}

label[for="contrat-type"] {
    padding-left: 130px;
}

label[for="choice-employeyes"],
label[for="choice-employeno"] {
    padding-left: 120px;
}

.information .span-center {
    text-align: center;
}
.span-color {
    color: rgb(57, 126, 190);
    font-size: 20px;
    font-weight: bold;
}

.information-title {
    font-size: 20px;
}

.suivi {
    padding-top: 30px;
}
/* --------------------------------------------

            @@@ Rdv 

---------------------------------------------*/

.rdv {
    padding: 10px;
    line-height: 38px;
    border: 1px solid black;
    width: auto;
    margin: 10px;
    background-color: rgb(240, 240, 240);
}

.absence {
    padding-top: 20px;
    padding-bottom: 20px;
}
/* --------------------------------------------

            @@@ Cancel

---------------------------------------------*/

.cancel {
    padding: 10px;
    line-height: 38px;
    border: 1px solid black;
    width: auto;
    margin: 10px;
    background-color: rgb(240, 240, 240);
}

.information-deuxieme h3 {
    font-size: 15px;
    text-transform: capitalize;
}

.cancel-word {
    font-weight: bold;
}

label[for="cancel-name"] {
    padding-left: 150px;
}