* {
    margin: 0;
}

body {
    background-image: url(https://santraplus.fr/modeles_graphiques/img/bg_site.jpg);
    background-color: white;
}

.container {
    height: 100vh;
    display: grid;
    gap: 20px;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px ;
    grid-template-rows: 1fr repeat(6, 1fr) ;
    grid-template-areas: 
    ". logo titre titre titre ."
    
    ". reference reference reference reference ."
    
    ". salarie salarie salarie salarie."
    
    ". information information information information ."
    
    ". information information information  information  ."
    
    ". rdv rdv rdv rdv ."
    
    ". cancel cancel cancel cancel ."

    ;
}

.logo {
    grid-area: logo;
    background-color: peru;
}

.titre {
    grid-area: titre;
    background-color: blue;
}
.reference {
    grid-area: reference;
    background-color: violet;
}
.salarie {
    grid-area: salarie;
    background-color: pink;
}
.information {
    grid-area: information;
    background-color: green;
}
.rdv {
    grid-area: rdv;
    background-color: aqua;
}
.cancel {
    grid-area: cancel;
    background-color: grey;
}

/* --------------------------------------------

            @@@ HEADER 

---------------------------------------------*/
/*




































/*
header {
    font-family:Arial,sans-serif ; 
    border: black solid 1px;
    height: 130px;
}

.header-site {
    position: relative;
    line-height: 40px;
}

.header-all {
    position: absolute;
    text-align: center;
    font-size: 20px;
    left: 650px ;
    margin: 30px;
}


.header-top {
    font-size: 25px;
    text-transform: capitalize ;
    font-weight: 550;
    color: rgb(0, 146, 182);
}

.start {
    font-weight: 550;
    text-transform: capitalize;
    color: rgb(0, 146, 182);

}

.logo {
    position: absolute;
    left: 250px;
    margin: 45px;

}
.reference,
.salarie {
    padding: 10px;
}
/* -----------------------------------

        @@@Main

----------------------------------- */
/*.reference {
    border: solid black 1px;
    height: 200px   ;
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(238, 237, 237, 0.986);
    line-height: 40px;
    line-height: 50px;
}

label[for="num-adherant"] {
    margin-left: 680px;
}

label[for="tel-applicant"] {
    margin-left: 105px;
}

label[for="fax-applicant"] {
    margin-left: 200px;

}
label[for="mail-applicant"] {
    margin-left: 150px;
}
#name-applicant {
    border-color: 1px solid  white;
}

/* -------------------------------
        @@@ Main 2eme partie
    ---------------------------*/
/*
.attention {
    position: absolute;
    color: red;
    text-decoration: underline 2px;
    font-weight: bold;
    text-align: center;
    left:700px;
    font-size: 20px;
    top: 430px;
    line-height: 50px;
}

.salarie {
    border: black solid 1px;
    margin-top: 70px;
    margin-right: 200px;
    margin-left: 200px;
    height: 230px;
    line-height: 49px;
    background-color: rgba(238, 237, 237, 0.986);
}

label[for="first-name"]{
    margin-left: 250px ;

}
label[for="birthday"] {
    margin-left: 185px ;

}
label[for="code-pcs"] {

    margin-left: 235px ;
}

label[for="marital-name"] {
    margin-left:  35px;
}
label[for="workspace"] {
    margin-left: 15px;
}


/*---------------------------------------

   @@@ Main 3eme partie 

   --------------------------------------*/

/* main a revoir deux main 

si result est nécessaire sur tous les suivi individuel simple*/
/*
.information {
    border: black 1px solid;
    margin-left: 200px;
    margin-top: 70px;
    margin-right: 200px;
    height: 500px;
    line-height: 49px;
    background-color: rgba(238, 237, 237, 0.986);
}

.information {
    padding: 10px;
}


.information-premiere {
    border: red 1px solid;


}
.information-premiere span:nth-child(2) {
    margin-left: 100px;
}
.information-premiere span:nth-child(1) {
    color: rgb(0, 146, 182);
    font-size: 22px;
    text-align: center;
}