* {
    margin: 0;
}

body {
    background-image: url(https://santraplus.fr/modeles_graphiques/img/bg_site.jpg);
    background-color: white;
}

/* --------------------------------------------

            @@@ HEADER 

---------------------------------------------*/
header {
    font-family:Arial,sans-serif ;
    border: red solid 1px;
    height: 130px;
}

.header-site {
    position: relative;
    line-height: 40px;
}

.header-all {
    position: absolute;
    text-align: center;
    font-size: 20px;
    left: 650px ;
    margin: 30px;
}


.header-top {
    font-size: 25px;
    text-transform: capitalize ;
    font-weight: 550;
    color: rgb(0, 146, 182);
}

.start {
    font-weight: 550;
    text-transform: capitalize;
    color: rgb(0, 146, 182);

}

.logo {
    position: absolute;
    left: 250px;
    margin: 45px;

}
/* -----------------------------------

        @@@Main

----------------------------------- */
.reference {
    border: solid red 1px;
    height: 200px   ;
    margin-top: 70px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: rgba(238, 237, 237, 0.986);
    line-height: 40px;
}



#name-applicant {
    border-color: 1px solid  white;
}

/* -------------------------------
        @@@ Main 2eme partie
    ---------------------------*/

.attention {
    position: absolute;
    color: red;
    text-decoration: underline 2px;
    font-weight: bold;
    text-align: center;
    left:700px;
    font-size: 20px;
    top: 430px;
}

.salarie {
    border: red solid 1px;
    margin-top: 70px;
    margin-right: 400px;
    margin-left: 400px;
    height: 230px;
    line-height: 60px;
    background-color: rgba(238, 237, 237, 0.986);
}

/* Mettre un espace entre le tabealu et les lignes 

mettre prénom date de naissance t ode pcs à droite